@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Azure For .NET Developers</h1>
</div>

<h4>
    We are here to learn about the different microsoft azure feautures and .NET Core Development.
</h4>