@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to AZ demo - Github Actions in effect.</h1>
</div>

<h4>
    @ViewData["Greetings"]
</h4>